<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="email"
		label="COM_PEBEVENTS_CONFIG_EMAIL_SETTINGS_LABEL"
		description="COM_PEBEVENTS_CONFIG_EMAIL_SETTINGS_DESC"
		
		addfieldpath="/administrator/components/com_pbevents/fields"
	>
		<field
			name="send_notifications_to"
			type="confemail"
			label="COM_PBEVENTS_FIELD_EMAIL_LABEL"
			description="COM_PBEVENTS_FIELD_EMAIL_DESC"
			ddefault="COM_PBEVENTS_FIELD_EMAIL_DEFAULT"
		/>
		
		<field
			name="email_success_subject"
			type="conftext"
			label="COM_PBEVENTS_FIELD_EMAIL_SUCCESS_SUBJECT_LABEL"
			description="COM_PBEVENTS_FIELD_EMAIL_SUCCESS_SUBJECT_DESC"
			ddefault="COM_PBEVENTS_FIELD_EMAIL_SUCCESS_SUBJECT_DEFAULT"
		/>
		<field
			name="email_success_body"
			type="conftextarea"
			label="COM_PBEVENTS_FIELD_EMAIL_SUCCESS_LABEL"
			description="COM_PBEVENTS_FIELD_EMAIL_SUCCESS_DESC"
			ddefault="COM_PBEVENTS_FIELD_EMAIL_SUCCESS_DEFAULT"
			filter="safehtml"
		/>
		
		<field
			name="email_failed_subject"
			type="conftext"
			label="COM_PBEVENTS_FIELD_EMAIL_FAILED_SUBJECT_LABEL"
			description="COM_PBEVENTS_FIELD_EMAIL_FAILED_SUBJECT_DESC"
			ddefault="COM_PBEVENTS_FIELD_EMAIL_FAILED_SUBJECT_DEFAULT"
		/>
		<field
			name="email_failed_body"
			type="conftextarea"
			label="COM_PBEVENTS_FIELD_EMAIL_FAILED_LABEL"
			description="COM_PBEVENTS_FIELD_EMAIL_FAILED_DESC"
			ddefault="COM_PBEVENTS_FIELD_EMAIL_FAILED_DEFAULT"
			filter="safehtml"
		/>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_pbevents"
			section="component"
		/>
	</fieldset>
</config>