<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="email"
		label="COM_PEBEVENTS_CONFIG_EMAIL_SETTINGS_LABEL"
		description="COM_PEBEVENTS_CONFIG_EMAIL_SETTINGS_DESC"
		
		addfieldpath="/administrator/components/com_pbevents/fields"
	>
		<field
			name="send_notifications_to"
			type="confemail"
			label="COM_PBEVENTS_FIELD_EMAIL_LABEL"
			description="COM_PBEVENTS_FIELD_EMAIL_DESC"
			ddefault="COM_PBEVENTS_FIELD_EMAIL_DEFAULT"
			required="true"
		/>
		<field type="spacer"/>
		
		<field
			name="email_success_subject"
			type="conftext"
			label="COM_PBEVENTS_FIELD_EMAIL_SUCCESS_SUBJECT_LABEL"
			description="COM_PBEVENTS_FIELD_EMAIL_SUCCESS_SUBJECT_DESC"
			ddefault="COM_PBEVENTS_FIELD_EMAIL_SUCCESS_SUBJECT_DEFAULT"
			required="true"
		/>
		<field
			name="email_success_body"
			type="conftextarea"
			label="COM_PBEVENTS_FIELD_EMAIL_SUCCESS_LABEL"
			description="COM_PBEVENTS_FIELD_EMAIL_SUCCESS_DESC"
			ddefault="COM_PBEVENTS_FIELD_EMAIL_SUCCESS_DEFAULT"
			filter="safehtml"
			required="true"
		/>
		<field type="spacer"/>
		
		<field
			name="email_failed_subject"
			type="conftext"
			label="COM_PBEVENTS_FIELD_EMAIL_FAILED_SUBJECT_LABEL"
			description="COM_PBEVENTS_FIELD_EMAIL_FAILED_SUBJECT_DESC"
			ddefault="COM_PBEVENTS_FIELD_EMAIL_FAILED_SUBJECT_DEFAULT"
			required="true"
		/>
		<field
			name="email_failed_body"
			type="conftextarea"
			label="COM_PBEVENTS_FIELD_EMAIL_FAILED_LABEL"
			description="COM_PBEVENTS_FIELD_EMAIL_FAILED_DESC"
			ddefault="COM_PBEVENTS_FIELD_EMAIL_FAILED_DEFAULT"
			filter="safehtml"
			required="true"
		/>
	</fieldset>
	
	<fieldset
		name="dates-hours"
		label="COM_PEBEVENTS_CONFIG_LOCALE_SETTINGS_LABEL"
		description="COM_PEBEVENTS_CONFIG_LOCALE_SETTINGS_DESC"
	>
		<field
			name="date_picker_locale" type="language"
			label="COM_PBEVENTS_FIELD_DATE_PICKER_LOCALE_LABEL"
			description="COM_PBEVENTS_FIELD_DATE_PICKER_LOCALE_DESC"
		/>
	</fieldset>
	
	<fieldset
		name="admin-site"
		label="COM_PEBEVENTS_CONFIG_ADMIN_SITE_SETTINGS_LABEL"
		description="COM_PEBEVENTS_CONFIG_ADMIN_SITE_SETTINGS_DESC"
	>
		<field
			name="alist_limit" type="list"
			label="COM_PBEVENTS_FIELD_ADMIN_LIST_LIMIT_LABEL"
			description="COM_PBEVENTS_FIELD_ADMIN_LIST_LIMIT_DESC"
			default="6"
		>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option value="35">35</option>
			<option value="40">40</option>
			<option value="45">45</option>
			<option value="50">50</option>
		</field>
		<field
			name="slist_limit" type="list"
			label="COM_PBEVENTS_FIELD_SITE_LIST_LIMIT_LABEL"
			description="COM_PBEVENTS_FIELD_SITE_LIST_LIMIT_DESC"
			default="6"
		>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option value="35">35</option>
			<option value="40">40</option>
			<option value="45">45</option>
			<option value="50">50</option>
		</field>
	</fieldset>
	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_pbevents"
			section="component"
		/>
	</fieldset>
</config>